html{
    box-sizing: border-box;
}
body{
    background-color: rgb(241, 241, 241);
    overflow:hidden;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
    background-image: url(img/pexels-luca-minguz-5083683.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

.containar{
    background-color: rgb(223, 223, 223);
    width: 400px;
    max-height: 480px;
    border-radius: 15px;
    margin-top: 90px;
    opacity: .9;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}
.pic{
    width: 250px;
    height: 250px;
    background-color: cornsilk;
    border-radius: 15px;
    position: relative;
    left: 19%;
    top: -45px;    
}

.songPic{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}

h1{
    margin: -15px;
    font-size: 40px;
    text-align: center;
}
h3{
    text-align: center;
    font-size: 20px;
    margin: 15px 0 30px 0;
}
span{
    font-size: 18px;
}
.progresC{
    cursor: pointer;
    background-color: white;
    height: 6px;
    width: 90%;
    margin: 4px auto;
    border-radius: 15px;
}
.progres{
    height: 6px;
    width: 0%;
    background-color: blue;
    border-radius: 12px;
}
.progresI{
    position: relative;
    top: -27.5px;
    display: flex;
    justify-content: space-between;
}
.btnC{
    width: 100%;
    text-align: center;
    margin:25px auto 10px auto ;
    
}
.btn{
    cursor: pointer;
    display: inline-block;
    margin: 10px 13px;
    width: 30px;
    height: 30px;
    background-size: cover;
    
}
.btn:hover{
    background-position: right;
    
}
.btn:active{
    transform: scale(.94);
}
@media screen and (max-width: 600px) {
    .containar {
        width: 240px;
        height: 300px;
        margin-top: 180px;
    }
    .btnC{
        margin-top: 18px;
    }
    .btn{
        width: 22px;
        height: 22px;
    }
    .pic{
        width: 140px;
        height: 140px;
        left: 20%;
        top: -33px;
        
    }
    span{
        font-size:15px;
    }
    h1{
        font-size: 30px;
    }
    h3{
        font-size: 15px;
    }
  }


